<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="ModulesJS/mainApp.js"></script>
    <script src="ModulesJS/countriesController.js"></script>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/jquery-1.10.2.intellisense.js"></script>
</head>
<body>
    <script>
        function GetCountries() {
            $.getJSON('/api/countries',
            function (data) {
                $('#selectCountries').empty();
                $('#selectCountries').append($('<option>', {
                    value: '',
                    text: 'Select country'
                }));
                $(data).each(function (i, item) {
                    //
                    $('#selectCountries').append($('<option>', {
                        value: item.Id,
                        text: item.Name
                    }));
                });
            });
        }
        GetCountries();
    </script>

    <div ng-app="mainApp" ng-controller="countriesController">
        <table>
            <tr>
                <td>
                    Country
                    <select id="selectCountries"></select>
                </td>
                <td>
                    <select ng-model="mdCountries" ng-change="showCountry(mdCountries)">
                        <option value="">-- Select Country --</option>
                        <option ng-repeat="c in countries" value="{{ c.Id }}">{{ c.Name }}</option>
                    </select>
                    Your selected ID: {{ mdCountries }}
                </td>
            </tr>          
        </table>
        <hr/>
        <table>
            <tr ng-repeat="c in countries">
                <td>{{ $index + 1 }}</td>
                <td>{{ c.Id }}</td>
                <td>{{ c.Name }}</td>
            </tr>
        </table>
    </div>
</body>
</html>
